{# templates/email_change_confirmation-en.html #}
<table style="background-color: #92b2d1; padding:20px 30px; width:100%;">
    <tr>
      <td width=70%>
        <h1><font color="#2b2d2e" style="font-family:'Bahnschrift'">Hi, </font></h1>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">your email address was successfully updated.
            <br>Please click the link below to confirm your new email address and activate your account again:</font></h3>
        <h5><a href="{{ confirm_url }}"><font color="#2b2d2e" style="font-family:'Bahnschrift'">{{ confirm_url }}</font></a><br></h5>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">Cheers</font></h3><br>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">iSLA</font></h3>
      </td>
      <td>
          <img src="bg.svg" alt="" width=100%></img>
      </td>
    </tr>
  </table>