{# templates/password_reset.html #}
<table style="background-color: #92b2d1; padding:20px 30px; width:100%;">
    <tr>
      <td width=70%>
        <h1><font color="#2b2d2e" style="font-family:'Bahnschrift'">There is a rumor that you forgot your password,</font></h1>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">if indeed so please follow the link below. It will take you to a special place from where you'll be able to send us a new password.<br>If on the other hand you know your password you can ignore this message.<br><br>And here is the link:</font></h3>
        <a href="{{ password_reset_url }}"><font color="#2b2d2e" style="font-family:'Bahnschrift'">{{ password_reset_url }}</font></a><br>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">Cheers</font></h3><br>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">iSLA</font></h3>
      </td>
      <td>
          <img src="bg.svg" alt="" width=100%></img>
      </td>
    </tr>
  </table>