{# templates/password_reset.html #}
<table style="background-color: #92b2d1; padding:20px 30px; width:100%;">
    <tr>
      <td width=70%>
        <h1><font color="#2b2d2e" style="font-family:'Bahnschrift'">Govori se, da ste pozabili svoje geslo za prijavo na našo spletno stran,</font></h1>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">če je temu res tako prosimo kliknite na spodnjo povezavo. Odprlo bo posebno spletno mesto, kjer boste lahko spremenili svoje geslo.
            <br>Če pa temu ni tako, lahko to sporočilo zavržete.<br><br>Tukaj je še povezava:</font></h3>
        <a href="{{ password_reset_url }}"><font color="#2b2d2e" style="font-family:'Bahnschrift'">{{ password_reset_url }}</font></a><br>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">Lep pozdrav</font></h3><br>
        <h3><font color="#2b2d2e" style="font-family:'Bahnschrift'">iSLA</font></h3>
      </td>
      <td>
          <img src="bg.svg" alt="" width=100%></img>
      </td>
    </tr>
  </table>